<div class="display" id="form-body">
  <div class="form-wrapper">
    
  
    <div class="form-row">

      <div class="sample-form-img">
        <img src="/images/UCA.png" alt="Logo">
        <img src="/images/CAC.png" alt="Logo">
        <img src="/images/CIM-SOLO.png" alt="Logo">
      </div>

      <div class="form-line">
        <div class="sample-form">
          <label>Référence : E(B)-09/PR-01</label>
        </div>

        <div class="sample-form">
          <label>Edition : 04</label>
        </div>
      </div>

      <div class="sample-form">
        <h3>Demande d'analyse d'éléments CHNS-O</h3>
      </div>
    

      <h4>IDENTIFICATION DU DEMANDEUR</h4>
      <div class="form-line">
        <div class="sample-form">
          <div class="form-field">
            <label for="date_de_creation">Date :</label>
            <input type="text" id="date_de_creation" name="date_de_creation" value="{{submission.date_de_creation}}" readonly>
          </div>
          <div class="form-field">
            <label for="phone">Tel :</label>
            <input type="number" id="phone" name="phone" value="{{user.phone}}" readonly>
          </div>
          
        </div>
        <div class="sample-form">
          <div class="form-field">
            <label for="name">Nom et prénom du demandeur :</label>
            <input type="text" id="name" name="name" value="{{user.name}}" readonly>
          </div>
          <div class="form-field">
            <label for="email">Mail :</label>
            <input type="text" id="email" name="email" value="{{user.email}}" readonly>
          </div>
        </div>
      </div>
      <div class="sample-form">
        <div class="form-field">
          <label for="Signature">Signature du demandeur :</label>
          <input type="text" id="Signature" readonly>
        </div>
      </div>


      <h5>Etablissement universitaire</h5>
      <div class="sample-form">
        <div class="form-field">
          <label for="Etablissement">Etablissement :</label>
          <input type="text" id="Etablissement" value="{{structure.etablissement}}" readonly>
        </div>
      </div>

      <div class="sample-form">
        <div class="form-field">
          <label for="structure"> Intitulé de la structure de recherche :</label>
          <input type="text" id="structure" value="{{structure.name}}" readonly>
        </div>
        <div class="form-field">
          <label for="type">Type de la structure de recherche :</label>
          <span><input type="radio" id="type" {{#if (eq structure.type 'labs')}}checked{{/if}} disabled> Laboratoire</span>
          <span><input type="radio" id="type" {{#if (eq structure.type 'equipes')}}checked{{/if}} disabled> Equipe</span>
          <span><input type="radio" id="type" {{#if (eq structure.type 'centres')}}checked{{/if}} disabled> Centre</span>
        </div>
      </div>

      <div class="sample-form">
        <div class="form-field">
          <label for="Statut">Statut du demandeur :</label>
          <span><input type="radio" id="Status" {{#if (eq user.status 'Enseignant chercheur')}}checked{{/if}} disabled> Enseignant chercheur</span>
          <span><input type="radio" id="Status" {{#if (eq user.status 'Etudiant')}}checked{{/if}} disabled> Etudiant</span>
        </div>
        <div class="form-field">
          <label for="Statut">Niveau d'étude de l'étudiant :</label>
          <span><input type="radio" id="niveau" {{#if (eq user.niveau 'License')}}checked{{/if}} disabled> License</span>
          <span><input type="radio" id="niveau" {{#if (eq user.niveau 'Master')}}checked{{/if}} disabled> Master</span>
          <span><input type="radio" id="niveau" {{#if (eq user.niveau 'Doctorat')}}checked{{/if}} disabled> Doctorat</span>
        </div>
        
      </div>

      <div class="sample-form">
        <div class="form-field">
          <label>Encadrant (dans le cas des étudiants)</label>
        </div>
        <div class="form-line">
          <div class="form-line">
            <div class="form-field">
              <label>Nom et prénom :</label>
            </div>
          </div>
          <div class="form-line">
            <div class="form-field">
              <label>Signature :</label>
            </div>
          </div>
        </div>
        
      </div>

      <div class="sample-form">
        <div class="form-field">
          <label>Responsable de la structure de recherche</label>
        </div>
        <div class="form-line">
          <div class="form-line">
            <div class="form-field">
              <label>Nom et prénom :</label>
            </div>
          </div>
          <div class="form-line">
            <div class="form-field">
              <label>Signature et cachet :</label>
            </div>
          </div>
        </div>
        
      </div>


      <h4>CONDITIONS D'ANALYSE ET IDENTIFICATION DES ÉCHANTILLONS</h4>
    <div class="form-line">

      <div class="sample-form">
        <div class="form-field radio-group">
          <label>Type d'analyse :</label>
          <span><input type="radio" name="type" value="Qualitative" {{#if (eq formDetails.type 'Qualitative')}}checked{{/if}} disabled> Qualitative</span>
          <span><input type="radio" name="type" value="Quantitative" {{#if (eq formDetails.type 'Quantitative')}}checked{{/if}} disabled> Quantitative</span>
        </div>
      </div>

      <div class="sample-form">
        <div class="form-field">
          <label for="nbr_ech">Nombre d'échantillons :</label>
          <input type="number" id="nbr_ech" name="nbr_ech" value="{{formDetails.nbr_ech}}">
        </div>
      </div>

    </div>

    <div class="form-line">

      <div class="sample-form">
        <div class="form-field">
          <label for="nbr_rep">Nombre de répétition si nécessaires :</label>
          <input type="number" id="nbr_rep" name="nbr_rep" value="{{formDetails.nbr_rep}}">
        </div>
      </div>

      <div class="sample-form">
        <div class="form-field radio-group">
          <label>Toxicité :</label>
          <span><input type="radio" name="Toxicité" value="Toxiques" {{#if (eq formDetails.Toxicité 'Toxiques')}}checked{{/if}} disabled> Toxiques</span>
          <span><input type="radio" name="Toxicité" value="Non toxiques" {{#if (eq formDetails.Toxicité 'Non toxiques')}}checked{{/if}} disabled> Non toxiques</span>
          <span><input type="radio" name="Toxicité" value="Radioactifs" {{#if (eq formDetails.Toxicité 'Radioactifs')}}checked{{/if}} disabled> Radioactifs</span>
        </div>
      </div>

    </div>

    <div class="sample-form">
      <div class="form-field">
        <label>Matrice des échantillons :</label>
      </div>
      <div class="form-field check-group">
        <div class="checkbox-container">
          <span><input type="radio" name="nature" value="Sols et Sédiments" {{#if (eq formDetails.nature 'Sols et Sédiments')}}checked{{/if}} disabled> Sols et sédiments</span>
          <span><input type="radio" name="nature" value="Polymères" {{#if (eq formDetails.nature 'Polymères')}}checked{{/if}} disabled> Polymères</span>
          <span><input type="radio" name="nature" value="Plantes" {{#if (eq formDetails.nature 'Plantes')}}checked{{/if}} disabled> Plantes</span>
          <span><input type="radio" name="nature" value="Produits pharmaceutiques" required> Produits pharmaceutiques</span>
          <span><input type="radio" name="nature" value="Produits cosmétiques" required> Produits cosmétiques</span>
          <span><input type="radio" name="nature" value="Produits pétrochimiques" required> Produits pétrochimiques</span>
          <span><input type="radio" name="nature" value="Colles vernis" required> Colles vernis</span>
          <span><input type="radio" name="nature" value="autre" {{#if (eq formDetails.nature 'autre')}}checked{{/if}} disabled> Autre à préciser</span>
          <input type="text" name="details_nature" id="details_nature" placeholder="Précisez" value="{{formDetails.details_nature}}" readonly>
        </div>
      </div>


    </div>

    <div class="sample-form">

      <div class="form-section">
        <label>Veuillez indiquer les références de vos échantillons</label>
        <div class="tables-container">
            <div class="table-wrap">
                <table>
                    <tr>
                        <th>N° échantillon</th>
                        <th>Réf échantillon</th>
                    </tr>
                    <tr id="sample-row-1">
                        <td>01</td>
                        <td><input type="text" name="ref_ech_1" value="{{formDetails.ref_ech_1}}" readonly></td>
                    </tr>
                    <tr id="sample-row-2">
                        <td>02</td>
                        <td><input type="text" name="ref_ech_2" value="{{formDetails.ref_ech_2}}" readonly></td>
                    </tr>
                    <tr id="sample-row-3">
                        <td>03</td>
                        <td><input type="text" name="ref_ech_3" value="{{formDetails.ref_ech_3}}" readonly></td>
                    </tr>
                    <tr id="sample-row-4">
                        <td>04</td>
                        <td><input type="text" name="ref_ech_4" value="{{formDetails.ref_ech_4}}" readonly></td>
                    </tr>
                    <tr id="sample-row-5">
                        <td>05</td>
                        <td><input type="text" name="ref_ech_5" value="{{formDetails.ref_ech_5}}" readonly></td>
                    </tr>
                </table>
            </div>
            <div class="table-wrap">
                <table>
                    <tr>
                        <th>N° échantillon</th>
                        <th>Réf échantillon</th>
                    </tr>
                    <tr id="sample-row-6">
                        <td>06</td>
                        <td><input type="text" name="ref_ech_6" value="{{formDetails.ref_ech_6}}" readonly></td>
                    </tr>
                    <tr id="sample-row-7">
                        <td>07</td>
                        <td><input type="text" name="ref_ech_7" value="{{formDetails.ref_ech_7}}" readonly></td>
                    </tr>
                    <tr id="sample-row-8">
                        <td>08</td>
                        <td><input type="text" name="ref_ech_8" value="{{formDetails.ref_ech_8}}" readonly></td>
                    </tr>
                    <tr id="sample-row-9">
                        <td>09</td>
                        <td><input type="text" name="ref_ech_9" value="{{formDetails.ref_ech_9}}" readonly></td>
                    </tr>
                    <tr id="sample-row-10">
                        <td>10</td>
                        <td><input type="text" name="ref_ech_10" value="{{formDetails.ref_ech_10}}" readonly></td>
                    </tr>
                </table>
            </div>
        </div>
      </div>

    </div>

    <div class="sample-form">
      <label>Choisir la configuration d'analyse selon les éléments à doser :</label>
      <div class="form-field radio-group">
        <span><input type="radio" name="config" value="chns" {{#if (eq formDetails.config 'chns')}}checked{{/if}} disabled> Configuration CHNS</span>
        <span><input type="radio" name="config" value="o" {{#if (eq formDetails.config 'o')}}checked{{/if}} disabled> Configuration O (Oxygène)</span>
      </div>
      <label>NB: Une seule configuration est autorisée par demande.</label>
    </div>


    <div class="sample-form">
      <div class="form-field">
        <label for="elm">Préciser les éléments à doser</label>
        <input type="text" id="elm" name="elm" value="{{formDetails.elm}}" required>
      </div>
    </div>



    <div class="sample-form">

      <span class="NB">NB: C'est le numéro de l'échantillion qui sera affiché au niveau du rapport d'analyse. </span>
      <span class="NB">La quantité de l'échantillion nécessaire pour l'analyse est 50mg. </span>
      <span class="NB">Les échantillions doivent etre bien broyés et séchés. </span>
    </div>
        

      <h4>CONDITIONS DE STOCKAGE DES ÉCHANTILLONS AVANT ANALYSE</h4>
      <div class="sample-form">
        <label>Veuillez préciser les conditions de stockage de vos échantillons, nécessaires à respecter, lors de leur séjour au CAC (T°, humidité, ...) :</label>
        <textarea id="conditions-stockage" name="conditions_stock" readonly>{{submission.conditions_stock}}</textarea>
        <div class="form-field radio-group">
          <label>Voulez-vous récupérer le reste des échantillons (s'il en reste) après analyse ?</label>
          <span><input type="radio" name="recuperation_echantillon" value="oui" {{#if (eq submission.recup 'oui')}}checked{{/if}} disabled> Oui</span>
          <span><input type="radio" name="recuperation_echantillon" value="non" {{#if (eq submission.recup 'non')}}checked{{/if}} disabled> Non</span>
        </div>
        <span class="NB">Si oui, la récupération du reste des échantillions (s'il en reste) doit se faire au maximum 15 jours
        après la réception des résultats d'analyse. Dépassant ce délai, ils seront détruits. Si aucune case n'est cochée, les
        échantillions seront détruits automatiquement.</span>
      </div>


      <h4>RUBRIQUE A REMPLIR AU CAS DE MODIFICATIONS APPORTEES A LA DEMANDE</h4>
      <div class="sample-form">
        <textarea id="conditions-stockage" readonly></textarea>
      
        <div class="form-line">
          <div class="form-line">
            <div class="form-field">
              <label for="date_de_creation">Date :</label>
            </div>
          </div>
          <div class="form-line">
            <div class="form-field">
              <label for="date_de_creation">Nom et signature du demandeur :</label>
            </div>
          </div>
        </div>
      </div>


      <h4>RUBRIQUE RESERVEE A L'ADMINISTRATION</h4>
      <div class="form-line">
        <div class="sample-form">
          <div class="form-field">
            <label>Demande repectionnée le :</label>
            <input type="text" id="date_de_reception" name="date_de_reception" readonly>
          </div>
          <div class="form-field">
            <label>Demande transmise au laboratoire le :</label>
          </div>
        </div>
        <div class="sample-form">
          <div class="form-field">
            <label>Cachet du CAC :</label>
          </div>
          <div class="form-field">
            <label>Récupérée par :</label>
          </div>
        </div>
      </div>


      <h4>RUBRIQUE RESERVEE AU LABORATOIRE</h4>

        <div class="sample-form">
          <div class="form-field">
            <label>Code de la fiche :</label>
            <input type="text" id="code" name="code" value="{{formDetails.code}}" readonly>
          </div>
        </div>

        <div class="form-line">
          <div class="sample-form">
            <div class="form-field">
              <label>Demande faisable :</label>
              <span><input type="radio" disabled> Oui</span>
              <span><input type="radio" disabled> Non</span>
            </div>
          </div>
          <div class="sample-form">
            <div class="form-field">
              <label>Signature du responsable du laboratoire :</label>
            </div>
          </div>
        </div>

        <div class="sample-form">
          <label>En cas de non faisabilité de la demande, veuillez indiquer les raisons :</label>
          <textarea id="conditions-stockage"readonly></textarea>
          <div class="form-field">
            <label>Rendez-vous donné le :</label>
          </div>
          <div class="form-field">
            <label>Echantillions répectionnés le :</label>
          </div>
          <label>En cas de refus de la réception des échantillions, veuillez indiquer les raisons :</label>
          <textarea id="conditions-stockage"readonly></textarea>
        </div>

        <div class="form-line">
          <div class="sample-form">
            <div class="form-field">
              <label>Analyse réalisée le :</label>
              <input type="text" id="date_d_analyse" name="date_d_analyse" readonly>
            </div>
            <div class="form-field">
              <label>Résultats délivrés le :</label>
            </div>
            <div class="form-field">
              <label>Reste des échantillions récupérée le :</label>
            </div>
          </div>

          <div class="sample-form">
            <div class="form-field">
              <label>Par (Nom et Signature) :</label>
              <input type="text" readonly>
            </div>
            <div class="form-field">
              <label>Réceptionnées par (Nom et Signature) :</label>
            </div>
            <div class="form-field">
              <label>Par (Nom et Signature) :</label>
            </div>
          </div>
          
        </div>



    </div>

  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
  const radioButtons = document.querySelectorAll('input[name="nature"]');
  const detailsInput = document.getElementById('details_nature');

  radioButtons.forEach(radio => {
    radio.addEventListener('change', function() {
      if (this.value === 'autre') {
        detailsInput.style.display = 'block';
      } else {
        detailsInput.style.display = 'none';
      }
    });
  });
});

</script>



